aniso8601==9.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
DateTime==4.3
Flask==1.1.2
flask-restplus==0.13.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.20.1
pymediawiki==0.7.0
pymongo==3.11.3
pyrsistent==0.17.3
pytz==2021.1
regex==2021.3.17
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
soupsieve==2.2.1
threadpoolctl==2.1.0
tqdm==4.59.0
urllib3==1.26.4
Werkzeug==1.0.1
wikipedia==1.4.0
Wikipedia-API==0.5.4
zope.interface==5.3.0
